# Code Folders
__pycache__
apicache-py3
.vscode
venv
.gradle

# Incendy Folders
logs
playground

# Files

# Files in resources/
keys.json
naughty.txt
pinglog.txt
settings.json
timeout.json

assets/Kanit-Regular.ttf